body {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*shared code*/
.top,
.section3Background,
footer {
  margin-right: -33.3%;
  margin-left: -33.3%;
  background-color: #1f2937;
}
/*colors and size*/
.links a,
.textButton p,
.textButton button,
.section2 p,
#bottomText,
.buttonContainer button {
  font-size: 18px;
}

header,
footer,
.buttonContainer button,
#bottomText,
#topText,
.textButton button,
.textButton h2 {
  color: #f9faf8;
}


/*display flex*/

.section1,
header,
.section2,
.section4,
.item {
  display: flex;
}


header {
  justify-content: space-between;
  align-items: center;
  margin: 0 20%; /*to correct the margin from the body*/
}

.links a {
  padding: 0 10px;
  color: #e5e7eb;
}

.section1 {
  align-items: center;
  justify-content: center;
  margin: 0 20%;
  padding: 80px 0;
}

.textButton {
  /*just need to change the height to look how I want becuase the element is only going 
to appear like that*/
  height: 100%;
  font-size: 50px;
}

.textButton h2 {
  font-size: 48px;
  font: weight 900px;
  margin: 0;
}
.textButton p {
  color: #e5e7eb;
  margin: 0;
}

.textButton button {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 8px 35px;
  font-weight: 600;
  border: none;
}

.imgContainer {
  height: 300px;
  width: 600px;
  flex-shrink: 0.5;
}

.imgContainer img {
  /*section 1 image*/
  max-height: 100%;
  max-width: 100%;
  min-width: 150px;
  min-height: 300px;
}

.section2 {
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  flex-wrap: wrap;
}

h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.section2 p {
  color: #1f2937;
}

.item {

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-basis: 250px;
}

#smallPicture {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.section3Background {
  background-color: #e5e7eb;
  padding:8% 0% ;
}

.section3 {
  margin: 0 20%;
}

.section3 h2 {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.section3 p {
  text-align: right;
}

.section3 p {
  font-size: 18px;
  font-weight: 600;
}

.section4 {
  justify-content: space-between;
  align-items: center;
  padding: 5% 10%;
  background-color: #3882f6;
  margin: 10% 0;
  border-radius: 10px;
}

.callToAction {
  text-align: left;
}

#topText {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

#bottomText {
  margin: 0;
}

.buttonContainer button {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 8px 35px;
  font-weight: 600;
  border-color: #f9faf8;
  border-style: solid;
}

footer {
  text-align: center;
  padding: 4% 0;
}
